@use "../../assets/sass/_variables.scss" as *;

.search-box {
  display: flex;
  flex-direction: column;
  width: 160px;

  &__input {
    margin: 10px 10px 0 10px;
    width: 110px;
    padding: 10px;
    font-size: 25px;
    border-radius: 15px;
    color: $color-black;
    border: 2px solid $color-tertiary;
  }
}

@media screen and (min-width: 768px) {
  .search-box {
    width: 400px;

    &__input {
      margin: 10px 40px 0 40px;
      width: 300px;
      padding: 10px;
      font-size: 18px;
    }
  }
}
