@use "../../assets/sass/_variables.scss" as *;

.search-box {
  display: flex;
  flex-direction: column;
  width: 400px;

  &__label {
    font-size: 20px;
  }

  &__input {
    margin: 10px 40px 0 40px ;
    width: 300px;
    padding: 10px;
    font-size: 18px;
    border-radius: 15px;
    color: $color-black;
    border: 2px solid $color-tertiary;
  }
}
