@use "../../assets/sass/_variables.scss" as *;

.button {
        font-size: 1.7rem;
        padding: 5px;
        text-align: center;
        background-color: $color-primary;
        border: 4px solid $color-tertiary;
        box-shadow: 5px 5px $color-tertiary;
        border-radius: 20px;
        margin: 10px;
}


