@use "../../assets/sass/_variables.scss" as *;

.nav-menu {
  width: 500px;
  height: auto;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
