@use "./assets/sass/_variables.scss" as *;

.App {
  display: flex;
  flex-direction: row;
  background-color: $color-secondary;
  font-family: 'Readex Pro', sans-serif;
  width: 100%;
  height: 100%;
}


